//- views/404.pug

extends layout

block content
  .error-page
    .error-page__code 404
    h1.error-page__title Page Not Found
    p.error-page__msg The page you're looking for doesn't exist.
    a.btn.btn--primary(href="/") Go Home
